ul, li {
  list-style-type: none; }

.tags-big-wrapper {
  margin: 20px 0 20px 0;
  display: flex;
  justify-content: center; }
  .tags-big-wrapper .tags-wrapper {
    display: flex;
    align-items: center;
    border: 1px solid gray;
    border-radius: 3px;
    position: relative;
    width: 25%;
    padding: 4px 10px;
    font-size: 0.85rem; }
    .tags-big-wrapper .tags-wrapper .tags-input-placeholder {
      color: #999;
      left: 29px;
      position: absolute; }
    .tags-big-wrapper .tags-wrapper .list.tags {
      margin: 0;
      padding: 0;
      display: flex;
      flex-wrap: wrap; }
      .tags-big-wrapper .tags-wrapper .list.tags .tag {
        border: 1px solid;
        padding: 1px;
        margin-right: 5px; }
    .tags-big-wrapper .tags-wrapper .tags-input {
      border: none;
      outline: none;
      box-sizing: content-box;
      width: 2px;
      padding: 2px;
      min-width: 2px; }

.App {
  text-align: center; }

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white; }

.App-link {
  color: #61dafb; }

#main-nav {
  margin: 50px; }

.navLink {
  padding: 0 20px; }

.ideaItem {
  margin: 20px; }
